<nav class="bottom-nav" [class.blurred-overlay]="navbarService.isDisabled()" [ngClass]="navbarService.isDisabled() ? 'nav-disabled' : 'nav-enabled'">
  <a routerLink="/mapa" [class.active-nav-item]="router.url === '/' || router.url === '/mapa'" class="nav-item">
    <span class="material-symbols-outlined nav-icon">map</span>
    <span class="nav-label">Mapa</span>
  </a>
  <a routerLink="/apiarios" routerLinkActive="active-nav-item" class="nav-item">
    <span class="material-symbols-outlined nav-icon">grid_view</span>
    <span class="nav-label">Apiarios</span>
  </a>
  <a routerLink="/extraccion" routerLinkActive="active-nav-item" class="nav-item">
    <span class="material-symbols-outlined nav-icon">liquor</span>
    <span class="nav-label">Extracción</span>
  </a>
</nav>