<div class="abm-container">
  <h3>Formulario Mock: Registrar Apiario</h3>
  
  <div class="form-group">
    <label>Nombre del Apiario:</label>
    <input type="text" [(ngModel)]="nombreApiario" placeholder="Ej: Panal de las Sierras">
  </div>

  <div class="form-group">
    <label>Coordenadas:</label>
    <div class="coordenadas-input-group">
      <input type="number" [value]="latitud" readonly placeholder="Latitud">
      <input type="number" [value]="longitud" readonly placeholder="Longitud">
      <button class="btn-buscar-mapa" (click)="abrirMapa()">📍 Seleccionar en Mapa</button>
    </div>
  </div>

  <button class="btn-guardar" [disabled]="!nombreApiario || !latitud" (click)="simularGuardarApiario()">
    Guardar Apiario
  </button>

  <!-- VENTANITA MODAL (Se muestra solo si mostrarModalMapa es true) -->
  <div class="modal-backdrop" *ngIf="mostrarModalMapa">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Selecciona la ubicación del Apiario</h4>
        <button class="btn-cerrar-modal" (click)="cerrarMapa()">✕</button>
      </div>
      <div class="modal-body">
        <!-- llamamos al componente del mapa -->
        <app-selector-ubicacion (coordenadaSeleccionada)="onUbicacionSeleccionada($event)"></app-selector-ubicacion>
      </div>
      <div class="modal-footer">
        <p *ngIf="latitud">Ubicación fijada: {{latitud.toFixed(4)}}, {{longitud?.toFixed(4)}}</p>
        <button class="btn-confirmar" [disabled]="!latitud" (click)="cerrarMapa()">Confirmar Ubicación</button>
      </div>
    </div>
  </div>
</div>